<a href="https://colab.research.google.com/github/marcusvinicius2603/machine-learning/blob/main/tratamento_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

SERIES = Colunas

In [ ]:
df = pd.Series(index = ['a','b','c','d'], data = [3,-5,7,4])
df

a    3
b   -5
c    7
d    4
dtype: int64

OU OU OU OU OU OU OU OU OU OU OU OU OU OU OU OU OU OU OU OU OU OU OU OU OU OU

In [ ]:
df = pd.DataFrame(index = 'a b c d '.split(), data = '3, -5, 7, 4'.split())
df

     0
a   3,
b  -5,
c   7,
d    4

DATAFRAME = Linhas e Colunas

In [ ]:
df = pd.DataFrame(np.random.randn(5, 4), index = 'A B C D E'.split(), columns = ['Dia', 'Tempo', 'Press√£o', 'Ar'])
df

        Dia     Tempo   Press√£o        Ar
A -1.074678 -1.465118 -0.514121  0.073843
B  0.021961  2.200561 -0.203395  0.521665
C  0.582834 -0.989396 -1.231688 -0.211931
D  0.063289 -0.330273 -0.947482  0.071454
E -0.085098  0.859473 -2.091033 -1.872619

In [ ]:
type(df['Dia'])

pandas.core.series.Series

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
df > 0

     Dia  Tempo  Press√£o     Ar
A  False   True    False   True
B   True   True     True   True
C  False  False    False   True
D   True  False     True  False
E  False   True    False   True

In [ ]:
x = df > 0
df[x]

        Dia     Tempo   Press√£o        Ar
A       NaN  0.331484       NaN  0.003815
B  1.874099  1.737257  0.143983  1.409102
C       NaN       NaN       NaN  0.331872
D  0.220843       NaN  0.630167       NaN
E       NaN  0.628039       NaN  0.441435

SOMANDO AS QUANTIDADES - N√∫meros Positivos

In [ ]:
df[x].count()

Dia        2
Tempo      3
Press√£o    2
Ar         4
dtype: int64

In [ ]:
df[x].count().sum()

11

SOMANDO OS VALORES - N√∫meros Positivos

In [ ]:
df[x].sum()

Dia        2.094943
Tempo      2.696779
Press√£o    0.774150
Ar         2.186225
dtype: float64

In [ ]:
df[x].sum().sum()

7.752096845920873

FILTRANDO E SOMANDO COLUNAS

In [ ]:
df['Dia']

A   -0.398469
B    1.874099
C   -1.734031
D    0.220843
E   -0.038451
Name: Dia, dtype: float64

In [ ]:
df['Dia'].sum()

-0.07600885958861081

In [ ]:
df[['Dia', 'Tempo', 'Press√£o']]

        Dia     Tempo   Press√£o
A -0.398469  0.331484 -1.042228
B  1.874099  1.737257  0.143983
C -1.734031 -1.024094 -1.209532
D  0.220843 -0.487577  0.630167
E -0.038451  0.628039 -1.089927

In [ ]:
df[['Dia', 'Tempo', 'Press√£o']].sum()

Dia       -0.076009
Tempo      1.185108
Press√£o   -2.567537
dtype: float64

In [ ]:
df[['Dia', 'Tempo', 'Press√£o']].sum().sum()

-1.4584382519484462

FILTRANDO LINHAS

In [ ]:
df = pd.DataFrame(
                  {'Pa√≠s' : ['B√©lgica', '√≠ndia', 'Brasil'],
                  'Capital' : ['Bruxelas', 'Nova Delphi', 'Bras√≠lia'],
                  'Popula√ß√£o' : [123.465, 987.654, 456.789]},                  
                  index=[1, 2, 3],
                  )
df

      Pa√≠s      Capital  Popula√ß√£o
1  B√©lgica     Bruxelas    123.465
2    √≠ndia  Nova Delphi    987.654
3   Brasil     Bras√≠lia    456.789

In [ ]:
df.loc[1]

Pa√≠s          B√©lgica
Capital      Bruxelas
Popula√ß√£o     123.465
Name: 1, dtype: object

In [ ]:
df.loc[1, 'Pa√≠s']

'B√©lgica'

In [ ]:
df.loc[3, 'Capital']

'Bras√≠lia'

In [ ]:
df.iloc[1:2]

    Pa√≠s      Capital  Popula√ß√£o
2  √≠ndia  Nova Delphi    987.654

In [ ]:
df.iloc[1:3]

     Pa√≠s      Capital  Popula√ß√£o
2   √≠ndia  Nova Delphi    987.654
3  Brasil     Bras√≠lia    456.789

In [ ]:
df.iloc[1:3, 2:3]

   Popula√ß√£o
2    987.654
3    456.789

2:3 = Come√ßo na 2 coluna (excluindo-a) e vou at√© a a 3 coluna
1:3 = Come√ßo na 1 linha (excluindo-a) e vou at√© a 3 linha

Filtrando Bras√≠lia:

In [ ]:
df.iloc[2:3, 1:2]

    Capital
3  Bras√≠lia

In [ ]:
df['Continente'] = ['Europa', '√Åsia', 'Am√©rica do Sul']
df

      Pa√≠s      Capital  Popula√ß√£o      Continente
1  B√©lgica     Bruxelas    123.465          Europa
2    √≠ndia  Nova Delphi    987.654            √Åsia
3   Brasil     Bras√≠lia    456.789  Am√©rica do Sul

In [ ]:
df.set_index('Continente', inplace= True)
df

                   Pa√≠s      Capital  Popula√ß√£o
Continente
Europa          B√©lgica     Bruxelas    123.465
√Åsia              √≠ndia  Nova Delphi    987.654
Am√©rica do Sul   Brasil     Bras√≠lia    456.789

In [ ]:
df['Nova'] = df['Pa√≠s'] + df['Capital']
df

                   Pa√≠s      Capital  Popula√ß√£o              Nova
Continente
Europa          B√©lgica     Bruxelas    123.465   B√©lgicaBruxelas
√Åsia              √≠ndia  Nova Delphi    987.654  √≠ndiaNova Delphi
Am√©rica do Sul   Brasil     Bras√≠lia    456.789    BrasilBras√≠lia

EXCLUINDO COLUNA

In [ ]:
df.drop('Nova', axis = 1)

                   Pa√≠s      Capital  Popula√ß√£o
Continente
Europa          B√©lgica     Bruxelas    123.465
√Åsia              √≠ndia  Nova Delphi    987.654
Am√©rica do Sul   Brasil     Bras√≠lia    456.789

In [ ]:
df

                   Pa√≠s      Capital  Popula√ß√£o              Nova
Continente
Europa          B√©lgica     Bruxelas    123.465   B√©lgicaBruxelas
√Åsia              √≠ndia  Nova Delphi    987.654  √≠ndiaNova Delphi
Am√©rica do Sul   Brasil     Bras√≠lia    456.789    BrasilBras√≠lia

EXCLUINDO COLUNA - em definitivo

In [ ]:
df.drop('Nova', axis=1, inplace=True)

In [ ]:
df

                   Pa√≠s      Capital  Popula√ß√£o
Continente
Europa          B√©lgica     Bruxelas    123.465
√Åsia              √≠ndia  Nova Delphi    987.654
Am√©rica do Sul   Brasil     Bras√≠lia    456.789

In [ ]:
df['Nova'] = df['Pa√≠s'] + df['Capital']
df

                   Pa√≠s      Capital  Popula√ß√£o              Nova
Continente
Europa          B√©lgica     Bruxelas    123.465   B√©lgicaBruxelas
√Åsia              √≠ndia  Nova Delphi    987.654  √≠ndiaNova Delphi
Am√©rica do Sul   Brasil     Bras√≠lia    456.789    BrasilBras√≠lia

In [ ]:
df.drop(['Popula√ß√£o', 'Nova'], axis = 1)

                   Pa√≠s      Capital
Continente
Europa          B√©lgica     Bruxelas
√Åsia              √≠ndia  Nova Delphi
Am√©rica do Sul   Brasil     Bras√≠lia

REVERTENDO EXCLUS√ÉO

In [ ]:
df.drop(['Popula√ß√£o', 'Nova'], axis=0, errors = 'ignore')

                   Pa√≠s      Capital  Popula√ß√£o              Nova
Continente
Europa          B√©lgica     Bruxelas    123.465   B√©lgicaBruxelas
√Åsia              √≠ndia  Nova Delphi    987.654  √≠ndiaNova Delphi
Am√©rica do Sul   Brasil     Bras√≠lia    456.789    BrasilBras√≠lia

EXCLUINDO LINHA

... por alguma motivo esse tipo de exclus√£o n√£o t√° funcionando

In [ ]:
df.drop(1)

DADOS AUSENTES

In [ ]:
df = pd.DataFrame(
    {'A' : [1, 2, np.nan],
    'B': [5, np.nan, np.nan],
    'C': [9, 10, 11]}  
    )
df

     A    B   C
0  1.0  5.0   9
1  2.0  NaN  10
2  NaN  NaN  11

... n√£o entendi!!!

In [ ]:
df.dropna(0)

     A    B  C
0  1.0  5.0  9

In [ ]:
df.fillna(value=999)

       A      B   C
0    1.0    5.0   9
1    2.0  999.0  10
2  999.0  999.0  11

In [ ]:
df.fillna(method = 'ffill')

     A    B   C
0  1.0  5.0   9
1  2.0  5.0  10
2  2.0  5.0  11

In [ ]:
df['A'].fillna(value = df['A'].mean())

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64

GROUP BY

In [ ]:
df= pd.DataFrame({
    'Empresa' : ['CESAR', 'BB', 'BB', 'CAIXA', 'CESAR', 'CAIXA'],
    'Nome' : ['Everton', 'Carla', 'Carla', 'Ra√∫l', 'Hugo', 'Ra√∫l'],
    'Venda' : [200, 320, 140, 125, 900, 1200]
    })
df

  Empresa     Nome  Venda
0   CESAR  Everton    200
1      BB    Carla    320
2      BB    Carla    140
3   CAIXA     Ra√∫l    125
4   CESAR     Hugo    900
5   CAIXA     Ra√∫l   1200

In [ ]:
grupo = df.groupby('Empresa')

In [ ]:
grupo.sum()

         Venda
Empresa
BB         460
CAIXA     1325
CESAR     1100

In [ ]:
grupo.mean()

         Venda
Empresa
BB       230.0
CAIXA    662.5
CESAR    550.0

In [ ]:
grupo.describe()

        Venda
        count   mean         std    min     25%    50%     75%     max
Empresa
BB        2.0  230.0  127.279221  140.0  185.00  230.0  275.00   320.0
CAIXA     2.0  662.5  760.139790  125.0  393.75  662.5  931.25  1200.0
CESAR     2.0  550.0  494.974747  200.0  375.00  550.0  725.00   900.0

In [ ]:
grupo = df.groupby('Nome')

In [ ]:
grupo.sum()

         Venda
Nome
Carla      460
Everton    200
Hugo       900
Ra√∫l      1325

CONCATENAR

In [ ]:
df1 = pd.DataFrame({'A' : ['A0', 'A1', 'A2', 'A3'],
                  'B' : ['B0', 'B1', 'B2', 'B3'],
                  'C' : ['C0', 'C1', 'C2', 'C3'],
                  'D' : ['D0', 'D1', 'D2', 'D3']},
                  index=[0, 1, 2, 3],
                  )
df1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [ ]:
df2 = pd.DataFrame({'A':['A4','A5', 'A6', 'A7'],
                   'B':['B4','B5', 'B6', 'B7'],
                   'C':['C4','C5', 'C6', 'C7'],
                   'D':['D4','D5', 'D6', 'D7']},
                  index=[4,5,6,7])
df2

    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [ ]:
df3 = pd.DataFrame({'A':['A8','A9', 'A10', 'A11'],
                   'B':['B8','B9', 'B10', 'B11'],
                   'C':['C8','C9', 'C10', 'C11'],
                   'D':['D8','D9', 'D10', 'D11']},
                  index=[8,9,10,11])
df3

      A    B    C    D
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [ ]:
pd.concat([df1,df2,df3])

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [ ]:
pd.concat([df1,df2,df3], axis = 1)

      A    B    C    D    A    B    C    D    A    B    C    D
0    A0   B0   C0   D0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1    A1   B1   C1   D1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2    A2   B2   C2   D2  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3    A3   B3   C3   D3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4   NaN  NaN  NaN  NaN   A4   B4   C4   D4  NaN  NaN  NaN  NaN
5   NaN  NaN  NaN  NaN   A5   B5   C5   D5  NaN  NaN  NaN  NaN
6   NaN  NaN  NaN  NaN   A6   B6   C6   D6  NaN  NaN  NaN  NaN
7   NaN  NaN  NaN  NaN   A7   B7   C7   D7  NaN  NaN  NaN  NaN
8   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A8   B8   C8   D8
9   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A9   B9   C9   D9
10  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A10  B10  C10  D10
11  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A11  B11  C11  D11

MESCLAR

Tem que ter 1 Linha em comum

In [ ]:
esquerda = pd.DataFrame({'key':['K0','K1', 'K2', 'K3'],
                   'A':['A0','A1', 'A2', 'A3'],
                   'B':['B0','B1', 'B2', 'B3']})
direita = pd.DataFrame({'key':['K0','K1', 'K2', 'K3'],
                   'C':['C0','C1', 'C2', 'C3'],
                   'D':['D0','D1', 'D2', 'D3']})

In [ ]:
esquerda

  key   A   B
0  K0  A0  B0
1  K1  A1  B1
2  K2  A2  B2
3  K3  A3  B3

In [ ]:
direita

  key   C   D
0  K0  C0  D0
1  K1  C1  D1
2  K2  C2  D2
3  K3  C3  D3

In [ ]:
pd.merge(esquerda, direita, how='inner', on='key')

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3

IMPORTANDO DADOS

1) Importando Dados de Sites que Contenham Tabelas

In [ ]:
site = pd.read_html('https://en.wikipedia.org/wiki/Minnesota')

In [ ]:
site[0]

                                            Minnesota                                        Minnesota.1
0                                               State                                              State
1                                  State of Minnesota                                 State of Minnesota
2   .mw-parser-output .ib-settlement-cols{text-ali...  .mw-parser-output .ib-settlement-cols{text-ali...
3   Nickname(s):¬†Land of 10,000 Lakes;North Star S...  Nickname(s):¬†Land of 10,000 Lakes;North Star S...
4   Motto(s):¬†L'√âtoile du Nord (French: The Star o...  Motto(s):¬†L'√âtoile du Nord (French: The Star o...
5                           Anthem: "Hail! Minnesota"                          Anthem: "Hail! Minnesota"
6   Map of the United States with Minnesota highli...  Map of the United States with Minnesota highli...
7                                             Country                                      United States
8                                    Before statehood                                Minnesota Territory
9                               Admitted to the Union                                May 11, 1858 (32nd)
10                                            Capital                                         Saint Paul
11                                       Largest city                                        Minneapolis
12                      Largest metro and urban areas                             Minneapolis‚ÄìSaint Paul
13                                         Government                                         Government
14                                         ‚Ä¢¬†Governor                                     Tim Walz (DFL)
15                              ‚Ä¢¬†Lieutenant Governor                               Peggy Flanagan (DFL)
16                                        Legislature                              Minnesota Legislature
17                                      ‚Ä¢¬†Upper house                                             Senate
18                                      ‚Ä¢¬†Lower house                           House of Representatives
19                                          Judiciary                            Minnesota Supreme Court
20                                      U.S. senators                Amy Klobuchar (DFL)Tina Smith (DFL)
21                              U.S. House delegation                    4 Democrats4 Republicans (list)
22                                               Area                                               Area
23                                            ‚Ä¢¬†Total                      86,935.83¬†sq¬†mi (225,163¬†km2)
24                                             ‚Ä¢¬†Land                      79,626.74¬†sq¬†mi (206,232¬†km2)
25                                            ‚Ä¢¬†Water                  7,309.09¬†sq¬†mi (18,930¬†km2) 8.40%
26                                          Area rank                                               12th
27                                         Dimensions                                         Dimensions
28                                           ‚Ä¢¬†Length                              about 400¬†mi (640¬†km)
29                                            ‚Ä¢¬†Width                            200‚Äì350¬†mi (320‚Äì560¬†km)
30                                          Elevation                                   1,200¬†ft (370¬†m)
31           Highest¬†elevation (Eagle Mountain[1][2])                                   2,301¬†ft (701¬†m)
32          Lowest¬†elevation (Lake Superior[1][2][3])                                     602¬†ft (183¬†m)
33                                  Population¬†(2021)                                  Population¬†(2021)
34                                            ‚Ä¢¬†Total                                       5,707,390[4]
35                                             ‚Ä¢¬†Rank                                               22nd
36                                          ‚Ä¢¬†Density                              68.9/sq¬†mi (26.6/km2)
37                                     ‚Ä¢¬†Density¬†rank                               30th (2015 estimate)
38                          ‚Ä¢¬†Median household income                                         $68,388[5]
39                                      ‚Ä¢¬†Income rank                                               10th
40                                         Demonym(s)                                         Minnesotan
41                                           Language                                           Language
42                                ‚Ä¢¬†Official language                                               None
43                                  ‚Ä¢¬†Spoken language              English 88.9% Spanish Somali Hmong[6]
44                                          Time zone                                UTC‚àí06:00 (Central)
45                                     ‚Ä¢¬†Summer (DST)                                    UTC‚àí05:00 (CDT)
46                                  USPS abbreviation                                                 MN
47                                      ISO 3166 code                                              US-MN
48                           Traditional abbreviation                                              Minn.
49                                           Latitude                             43¬∞‚Ää30‚Ä≤ N to 49¬∞‚Ää23‚Ä≤ N
50                                          Longitude                             89¬∞‚Ää29‚Ä≤ W to 97¬∞‚Ää14‚Ä≤ W
51                                            Website                                             mn.gov

    C   D
0  C0  D0
1  C1  D1
2  C2  D2
3  C3  D3

In [ ]:
site2 = pd.read_html('https://www.ibge.gov.br/indicadores#variacao-do-pib')

In [ ]:
site2[0]

                               Indicadores econ√¥micos  ...                                             No ano
0                                            IPCA (%)  ...                                      No ano  10,06
1   Periodicidade:  Mensal Abrang√™ncia:  Brasil, R...  ...  Periodicidade:  Mensal Abrang√™ncia:  Brasil, R...
2                                            INPC (%)  ...                                      No ano  10,16
3   Periodicidade:  Mensal Abrang√™ncia:  Brasil, R...  ...  Periodicidade:  Mensal Abrang√™ncia:  Brasil, R...
4                                         IPCA-15 (%)  ...                                       No ano  0,58
5   Periodicidade:  Mensal Abrang√™ncia:  Brasil, R...  ...  Periodicidade:  Mensal Abrang√™ncia:  Brasil, R...
6                                             IPP (%)  ...                                      No ano  28,36
7   Periodicidade:  Mensal Abrang√™ncia:  Brasil  O...  ...  Periodicidade:  Mensal Abrang√™ncia:  Brasil  O...
8                                     Custo do m¬≤ (%)  ...                                      No ano  18,65
9   Periodicidade:  Mensal Abrang√™ncia:  Brasil, G...  ...  Periodicidade:  Mensal Abrang√™ncia:  Brasil, G...
10                                Varia√ß√£o do PIB (%)  ...                                        No ano  5,7
11  Periodicidade:  Trimestral Abrang√™ncia:  Brasi...  ...  Periodicidade:  Trimestral Abrang√™ncia:  Brasi...
12                                PIB per capita (R$)  ...                                          No ano  -
13  Periodicidade:  Anual Abrang√™ncia:  Brasil  O ...  ...  Periodicidade:  Anual Abrang√™ncia:  Brasil  O ...
14                                      Ind√∫stria (%)  ...                                        No ano  4,7
15  Periodicidade:  Mensal Abrang√™ncia:  Brasil, N...  ...  Periodicidade:  Mensal Abrang√™ncia:  Brasil, N...
16                                       Com√©rcio (%)  ...                                        No ano  1,9
17  Periodicidade:  Mensal Abrang√™ncia:  Brasil e ...  ...  Periodicidade:  Mensal Abrang√™ncia:  Brasil e ...
18                                       Servi√ßos (%)  ...                                       No ano  10,9
19  Periodicidade:  Mensal Abrang√™ncia:  Brasil e ...  ...  Periodicidade:  Mensal Abrang√™ncia:  Brasil e ...

[20 rows x 5 columns]

2) Importando Dados de Arquivos

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving Salaries.csv to Salaries (1).csv

In [ ]:
salaries = pd.read_csv('Salaries.csv')

In [ ]:
salaries.head(200000)

          Id       EmployeeName  ...         Agency  Status
0          1     NATHANIEL FORD  ...  San Francisco     NaN
1          2       GARY JIMENEZ  ...  San Francisco     NaN
2          3     ALBERT PARDINI  ...  San Francisco     NaN
3          4  CHRISTOPHER CHONG  ...  San Francisco     NaN
4          5    PATRICK GARDNER  ...  San Francisco     NaN
...      ...                ...  ...            ...     ...
73442  73443   Cherish  Murdock  ...  San Francisco     NaN
73443  73444    Michael C Rubin  ...  San Francisco     NaN
73444  73445   Kenneth B Linney  ...  San Francisco     NaN
73445  73446   Albert H Holt Jr  ...  San Francisco     NaN
73446  73447    Elyse R Duckett  ...            NaN     NaN

[73447 rows x 13 columns]

Se colocar vazio, salaries.head(), vai puxar as 5 primeiras linhas

In [ ]:
salaries.head()

   Id       EmployeeName  ...         Agency  Status
0   1     NATHANIEL FORD  ...  San Francisco     NaN
1   2       GARY JIMENEZ  ...  San Francisco     NaN
2   3     ALBERT PARDINI  ...  San Francisco     NaN
3   4  CHRISTOPHER CHONG  ...  San Francisco     NaN
4   5    PATRICK GARDNER  ...  San Francisco     NaN

[5 rows x 13 columns]

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving train.csv to train.csv

In [ ]:
titanic = pd.read_csv('train.csv')

In [ ]:
titanic.head(20000)

     PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0              1         0       3  ...   7.2500   NaN         S
1              2         1       1  ...  71.2833   C85         C
2              3         1       3  ...   7.9250   NaN         S
3              4         1       1  ...  53.1000  C123         S
4              5         0       3  ...   8.0500   NaN         S
..           ...       ...     ...  ...      ...   ...       ...
886          887         0       2  ...  13.0000   NaN         S
887          888         1       1  ...  30.0000   B42         S
888          889         0       3  ...  23.4500   NaN         S
889          890         1       1  ...  30.0000  C148         C
890          891         0       3  ...   7.7500   NaN         Q

[891 rows x 12 columns]

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving exemplo.csv to exemplo.csv

In [ ]:
exemplo = pd.read_csv('exemplo.csv')

In [ ]:
exemplo.head()

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15